In [1]:
1+1

2

In [2]:
print(sreya)

NameError: name 'sreya' is not defined

In [4]:
1+1

2

In [5]:
1-2

-1

In [6]:
1*2

2

In [7]:
5/10

0.5

In [8]:
5%10

5

In [9]:
'hello world'

'hello world'

In [10]:
"hello world"

'hello world'

In [11]:
print(hello world)

SyntaxError: invalid syntax (2497053111.py, line 1)

In [12]:
print("hello world")

hello world

In [13]:
print('hello world')

hello world

In [14]:
len(hello world)

SyntaxError: invalid syntax (3916375609.py, line 1)

In [15]:
len("hello world")

11

In [19]:
mystring=abcdefghij

NameError: name 'abcdefghij' is not defined

In [20]:
mystring="abcdefghij"

In [21]:
mystring

'abcdefghij'

In [23]:
mystring[1]

'b'

In [24]:
mystring[7]

'h'

In [25]:
mystring[-1]

'j'

In [26]:
mystring[-2]

'i'

In [27]:
mystring[1:]

'bcdefghij'

In [28]:
mystring

'abcdefghij'

In [29]:
mystring[:3]

'abc'

In [31]:
mystring[3:6]

'def'

In [32]:
mystring

'abcdefghij'

In [33]:
mystring[5:8]

'fgh'

In [34]:
mystring

'abcdefghij'

In [35]:
mystring[::]

'abcdefghij'

In [36]:
mystring[::-1]

'jihgfedcba'

In [37]:
mystring[0:10:2]

'acegi'

In [38]:
name="sreya"

In [39]:
name

'sreya'

In [40]:
name[0]='n'

TypeError: 'str' object does not support item assignment

In [41]:
name

'sreya'

In [42]:
name[1:]

'reya'

In [43]:
lastletters=name[1:]

In [44]:
lastletters

'reya'

In [45]:
'n'+lastletters

'nreya'

In [47]:
1+2

3

In [48]:
'1'+'2'

'12'

In [49]:
'1'+2

TypeError: can only concatenate str (not "int") to str

In [50]:
name

'sreya'

In [51]:
name="sreya"

In [52]:
name.upper()

'SREYA'

In [53]:
name.split()

['sreya']

In [54]:
phrase="this is a string"

In [55]:
phrase.upper()

'THIS IS A STRING'

In [56]:
phrase.split()

['this', 'is', 'a', 'string']

In [57]:
phrase.split(i)

NameError: name 'i' is not defined

In [58]:
phrase.split("i")

['th', 's ', 's a str', 'ng']

In [60]:
#print formats

print("this is a string".format(line))

NameError: name 'line' is not defined

In [61]:
print("this is a string"{}.format(line))

SyntaxError: invalid syntax (2187677492.py, line 1)

In [62]:
print("this is a string{}".format(line))

NameError: name 'line' is not defined

In [63]:
print("this is a string{}".format("line"))

this is a stringline

In [65]:
print("this is a string {}".format("line"))

this is a string line

In [66]:
print("this is a string {}".format("python"))

this is a string python

In [67]:
print("this is a string {}".format('english'))

this is a string english

In [71]:
print("the {} {} {}".format('he','cleaver','is'))

the he cleaver is

In [72]:
print("the {} {} {}".format('he','is','cleaver'))

the he is cleaver

In [81]:
#index positions 
print("the {0} {1} {2}".format('he','is','cleaver'))

the he is cleaver

In [75]:
print("the {1} {0} {2} ".format('he','is','cleaver'))

the is he cleaver

In [76]:
print("the {2} {0} {1}".format('he','is','cleaver'))

the cleaver he is

In [77]:
print("the {2} {1} {0}".format('he','is','cleaver'))

the cleaver is he

In [78]:
print("this is a string {}".format("line"))

this is a string line

In [79]:
print("the {} {} {}".format('he','is','cleaver'))

the he is cleaver

In [80]:
print("the {0} {0} {0}".format('he','is','cleaver'))

the he he he

In [82]:
#keywords
print("the {} {} {}".format(h='he',i='is',c='cleaver'))

IndexError: Replacement index 0 out of range for positional args tuple

In [83]:
print("the {h} {i} {c}".format(h="he",i="is",c="cleaver"))

the he is cleaver

In [84]:
print("the {i} {c} {h}".format(h="he",i="is",c="cleaver"))

the is cleaver he

In [85]:
result=100/777

In [86]:
result

0.1287001287001287

In [87]:
print("the result {}".format(result))

the result 0.1287001287001287

In [88]:
print("the result {r}".format(r=result))

the result 0.1287001287001287

In [89]:
name="sreya"

In [90]:
name

'sreya'

In [91]:
print("this is {}".format("name"))

this is name

In [92]:
print("this is {}".format(name))

this is sreya

In [93]:
#formatted string literals or F strings
name="sreya"
print(f"this is {name}")

this is sreya

In [95]:
name="sreya"
print(f"this is {name}")

this is sreya

In [97]:
name="ragasreya"
age=20
print(f"name is {name} and age is {age}")

name is ragasreya and age is 20

In [98]:
#list
list=[1,2,3]

In [99]:
list

[1, 2, 3]

In [100]:
list=['one',1,1.5]

In [101]:
list

['one', 1, 1.5]

In [102]:
list=['one','two','three']

In [103]:
list

['one', 'two', 'three']

In [104]:
list[1]

'two'

In [105]:
list[1:]

['two', 'three']

In [106]:
list[0]='ONE'

In [107]:
list

['ONE', 'two', 'three']

In [108]:
print(list)

['ONE', 'two', 'three']

In [109]:
list

['ONE', 'two', 'three']

In [110]:
another_list=['four','five']

In [111]:
another_list

['four', 'five']

In [112]:
list+another_list

['ONE', 'two', 'three', 'four', 'five']

In [113]:
my_list=list+another_list

In [114]:
my_list

['ONE', 'two', 'three', 'four', 'five']

In [115]:
my_list.append('six')

In [122]:
my_list

['ONE', 'two', 'three', 'four', 'five']

In [117]:
my_list.pop()

'six'

In [118]:
my_list

['ONE', 'two', 'three', 'four', 'five']

In [119]:
my_list.pop('five')

TypeError: 'str' object cannot be interpreted as an integer

In [120]:
my_list.pop(five)

NameError: name 'five' is not defined

In [121]:
my_list

['ONE', 'two', 'three', 'four', 'five']

In [123]:
my_list.append(1:'one')

SyntaxError: invalid syntax (202159472.py, line 1)

In [124]:
my_list

['ONE', 'two', 'three', 'four', 'five']

In [128]:
my_list.pop(0)

'two'

In [126]:
my_list

['two', 'three', 'four', 'five']

In [129]:
my_list

['three', 'four', 'five']

In [130]:
my_list=['a','c','b']
num_list=[2,1,4,3]

In [136]:
my_list.sort()
new_list=my_list

In [137]:
new_list

['a', 'b', 'c']

In [142]:
num_list.sort()
numlist=num_list

In [143]:
numlist

[1, 2, 3, 4]

In [144]:
my_list

['a', 'b', 'c']

In [145]:
my_list.reverse()
new_my_list=my_list

In [146]:
new_my_list

['c', 'b', 'a']

In [147]:
num_list

[1, 2, 3, 4]

In [148]:
num_list.reverse()
new_num_list=num_list

In [149]:
new_num_list

[4, 3, 2, 1]

In [150]:
my_list

['c', 'b', 'a']

In [153]:
#dictionaries
my_dict={'key1':'value1','key2':'value2','key3':'value3'}

In [154]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [155]:
mydict={'key1':'value1','key2':100,'key3':1.2}

In [156]:
mydict

{'key1': 'value1', 'key2': 100, 'key3': 1.2}

In [158]:
d={'key1': 'value1', 'key2': 100, 'key3': 1.2,'key3':[1,2,3],'key4':{'another':'dictionary'}}

In [159]:
d

{'key1': 'value1',
 'key2': 100,
 'key3': [1, 2, 3],
 'key4': {'another': 'dictionary'}}

In [160]:
d[key1]

NameError: name 'key1' is not defined

In [161]:
d

{'key1': 'value1',
 'key2': 100,
 'key3': [1, 2, 3],
 'key4': {'another': 'dictionary'}}

In [162]:
d['key1']

'value1'

In [163]:
d['key2']

100

In [164]:
d['key3']

[1, 2, 3]

In [165]:
d['key3'][1]

2

In [166]:
d['key4']

{'another': 'dictionary'}

In [167]:
d['key4']['another']

'dictionary'

In [170]:
d['key4']['another'].upper()

'DICTIONARY'

In [171]:
d['key3']

[1, 2, 3]

In [176]:
d['key3'][2]

3

In [179]:
d['key3']

[1, 2, 3]

In [180]:
list=d['key3']

In [181]:
list

[1, 2, 3]

In [182]:
list.reverse()
reversed_list=list

In [183]:
reversed_list

[3, 2, 1]

In [184]:
d

{'key1': 'value1',
 'key2': 100,
 'key3': [3, 2, 1],
 'key4': {'another': 'dictionary'}}

In [185]:
d.values()

dict_values(['value1', 100, [3, 2, 1], {'another': 'dictionary'}])

In [186]:
d.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [187]:
dict={'key1':'value1','key2':'value2','key3':'value3'}

In [188]:
dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [189]:
d={'key1':'value1','key2':100,'key3':1.5,'key4':['a','b','c'],'key5':{'inside':'dict'}}

In [190]:
d

{'key1': 'value1',
 'key2': 100,
 'key3': 1.5,
 'key4': ['a', 'b', 'c'],
 'key5': {'inside': 'dict'}}

In [193]:
d['key1']

'value1'

In [192]:
d['key2']

100

In [194]:
d['key3']

1.5

In [195]:
d['key4']

['a', 'b', 'c']

In [196]:
d['key4'][1]

'b'

In [197]:
d['key5']

{'inside': 'dict'}

In [198]:
d['key5']['inside']

'dict'

In [199]:
d['key5']['inside'].upper()

'DICT'

In [200]:
#tuples
t=(1,2,3)

In [201]:
t

(1, 2, 3)

In [202]:
tup=(1,'a',1.5)

In [203]:
tup

(1, 'a', 1.5)

In [204]:
tupple=('a','a','b','c')

In [205]:
tupple

('a', 'a', 'b', 'c')

In [206]:
tupple.count('a')

2

In [207]:
tupple.index('a')

0

In [208]:
tupple.index('c')

3

In [209]:
tupple

('a', 'a', 'b', 'c')

In [210]:
tupple[0]='z'

TypeError: 'tuple' object does not support item assignment

In [211]:
tupple

('a', 'a', 'b', 'c')

In [212]:
tupple=('1','a',[5,6,7])

In [213]:
tupple

('1', 'a', [5, 6, 7])

In [214]:
tupple[1]

'a'

In [215]:
tupple[2][2]

7

In [216]:
tupple

('1', 'a', [5, 6, 7])

In [217]:
#sets
s={1,2,3}

In [218]:
s

{1, 2, 3}

In [219]:
s.add(4)

In [220]:
s

{1, 2, 3, 4}

In [221]:
s.add(2)

In [222]:
s

{1, 2, 3, 4}

In [225]:
s={1,2,2,3,3}

In [226]:
s

{1, 2, 3}

In [227]:
s={'mississippi'}

In [228]:
s

{'mississippi'}

In [231]:
s={'M','i','s','s','i','s','s','i','p','p','i'}

In [232]:
s

{'M', 'i', 'p', 's'}

In [233]:
s={"p","a","r","a","l","l","e","l"}

In [234]:
s

{'a', 'e', 'l', 'p', 'r'}

In [235]:
#boolean
True

True

In [236]:
type(True)

bool

In [237]:
False

False

In [238]:
type(False)

bool

In [239]:
type(true)

NameError: name 'true' is not defined

In [240]:
true

NameError: name 'true' is not defined

In [241]:
1<2

True

In [245]:
1>2

False

In [246]:
1==1

True

In [247]:
1>2 and 2>3

False

In [248]:
1<2 and 2<3

True

In [249]:
1<2 and 2>3       # and means if both conditions are true returns true

False

In [250]:
1<2 or 2<3    # or means any one of the conditions is true it  returns true

True

In [254]:
 1==1

True

In [255]:
not 1==1

False

In [256]:
2 <= 3 >= 1

True

In [262]:
my_list=[1,2,3,4,5,6]
for num in my_list:
    print(num)

1
2
3
4
5
6

In [265]:
my_list=[1,2,3,4,5]
for num in my_list:
    if num%2==0:
        print('even')
    elif num%3==0:
        print('divisible by three')
    else:
        print('not')

not
even
divisible by three
even
not

In [269]:
#tuple unpacking

l=[(1,2),(3,4),(5,6),(7,8)]
for a,b in l:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [270]:
l

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [271]:
for a,b in l:
    print(a)

1
3
5
7

In [272]:
for a,b in l:
    print(b)

2
4
6
8

In [273]:
my_list=[1,2,3,4,5,6]
listsum=0
for num in my_list:
    listsum=listsum+num
print(listsum)

21

In [274]:
my_list=[1,2,3,4,5,6]
listsum=0
for num in my_list:
    listsum=listsum+num
    print(listsum)

1
3
6
10
15
21

In [280]:
d={'key1':1,'key2':2}
for num in d:
    print(num)

key1
key2

In [281]:
#for 
for a,b in d:
    print(a)

ValueError: too many values to unpack (expected 2)

In [282]:
for a,b in d:
    print(b)

ValueError: too many values to unpack (expected 2)

In [285]:
d={'key1':1,'key2':2}
for num in d.items():
    print(num)

('key1', 1)
('key2', 2)

In [286]:
d={'key1':1,'key2':2}
for num in d.values():
    print(num)

1
2

In [1]:
my_list=[1,2,3,4,5,6]
for num in my_list:
    print(num)

1
2
3
4
5
6

In [11]:
x=0
while x<5:
    print('the value of x is',x)
    x=x+1 # x=x+1 is same as x+=1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [4]:
x=20
while x<5:
    print('the value of x is',x)
    x=x+1
else:
    print('x is not less than 5')

x is not less than 5

In [9]:
# pass    pass do nothing and uses as placeholder
x=[1,2,3]
for i in x:
    #comment

IndentationError: expected an indented block (4003341226.py, line 4)

In [8]:
x=[1,2,3]
for i in x:
    #comment
    pass

In [10]:
# continue   it skips the passed condition and execute the remaining code
x='sreya'
for i in x:
    print(i)

s
r
e
y
a

In [17]:
x

'sreya'

In [20]:
for i in x:
    if i=='r':
        continue
        print(i)

In [21]:
for i in x:
    if i=='r':
        continue
print(i)

a

In [22]:
for i in x:
    if i=='r':
        continue
    print(i)

s
e
y
a

In [23]:
#break    it stop executing the current code
x='sreya'
for i in x:
    if i=='e':
        break
    print(i)

s
r

In [24]:
#range 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [27]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [28]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [29]:
list(range(0,10,3))

[0, 3, 6, 9]

In [33]:
list(range(0,100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [43]:
#enumerate    it prints the letter along with the sequence
word='sreya'
for i in enumerate(word):
    print(i)

(0, 's')
(1, 'r')
(2, 'e')
(3, 'y')
(4, 'a')

In [40]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('')

0
s

1
r

2
e

3
y

4
a

In [41]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print(\n)

SyntaxError: unexpected character after line continuation character (4197044745.py, line 4)

In [42]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
s


1
r


2
e


3
y


4
a

In [45]:
#zip   it adds the two lists
list1=[1,2,3]
list2=['a','b','c']
print(zip(list1,list2))

<zip object at 0x0000027129CC93C0>

In [46]:
for i in zip(list1,list2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [47]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [54]:
list1=[1,2,3,4,5]
list2=['a','b','c']
list3=['x','y','z']

In [55]:
print(zip(list1,list2,list3))

<zip object at 0x0000027129D589C0>

In [56]:
for i in (zip(list1,list2,list3)):
    print(i)

(1, 'a', 'x')
(2, 'b', 'y')
(3, 'c', 'z')

In [58]:
#in 
word='sreya'
'a' in word

True

In [59]:
'z' in word

False

In [60]:
l=[1,2,3]
1 in l

True

In [61]:
5 in l

False

In [62]:
d={'key':'value'}
'key' in d

True

In [63]:
'key1' in d

False

In [64]:
'value2' in d.values()

False

In [65]:
'key1'in d.keys()

False

In [66]:
#min and max  it shows minimum and maximum values 
list=[1,2,3,4,5]

In [67]:
min(list)

1

In [77]:
max(list)

5

In [2]:
from random import shuffle

In [3]:
mylist=[1,2,3,4,5,6,7,8,9]

In [7]:
shuffle(mylist)

In [8]:
mylist

[6, 9, 4, 3, 2, 5, 8, 7, 1]

In [10]:
from random import randint
randint(0,100)

19

In [11]:
randint(10,20)

16

In [13]:
result=input("enter your name :")

enter your name :sreya

In [14]:
result

'sreya'

In [15]:
r=input("enter a number")

enter a number2

In [16]:
r

'2'

In [17]:
r=int(input('enter a name'))

enter a namer

ValueError: invalid literal for int() with base 10: 'r'

In [19]:
r=int(input('enter a number  : '))

enter a number  : 2

In [20]:
r

2

In [31]:
#list comprehensions
mystring='sreya'

In [32]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
mylist

['s', 'r', 'e', 'y', 'a']

In [25]:
mylist=[x for x in 'sreya']

In [26]:
mylist

['s', 'r', 'e', 'y', 'a']

In [27]:
mylist=[x for x in range(1,10)]

In [28]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
mylist=[x**2 for x in range(1,10)]

In [30]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
mylist=[x for x in range(1,10) if x%2==0]

In [34]:
mylist

[2, 4, 6, 8]

In [35]:
mylist=[x**2 for x in range(1,10) if x%2==0]

In [36]:
mylist

[4, 16, 36, 64]

In [37]:
celsius=[0,10,20,30]

In [40]:
fahrenheit=[(9/5)*temp+32 for temp in celsius]

In [41]:
fahrenheit

[32.0, 50.0, 68.0, 86.0]

In [42]:
fahrenheit=[]

In [44]:
for temp in celsius:
    fahrenheit.append((9/5)*temp+32)

In [45]:
fahrenheit

[32.0, 50.0, 68.0, 86.0]

In [46]:
#difficult
results=[x if x%2==0 else 'ODD' for x in range(1,10)]

In [47]:
results

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [48]:
mylist=[]

In [49]:
for x in [1,2,3]:
    for y in [10,100,1000]:
        mylist.append(x*y)

In [50]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [51]:
mylist=[x*y for x in [1,2,3] for y in [10,100,1000]]

In [52]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [6]:
string='sreya is intelligent girl'
string.split(' ')

['sreya', 'is', 'intelligent', 'girl']

In [3]:
#functions
def say_hello():
    print('hi')
say_hello()

hi

In [4]:
def say_hi():
    print('hi')
    print('how are you')
say_hi()

hi
how are you

In [5]:
say_hi()

hi
how are you

In [6]:
say_hi

In [8]:
def func(name):
    print('hello'+name)
func()

TypeError: func() missing 1 required positional argument: 'name'

In [14]:
def func(name):
    print('hello'+' '+ name)
func('sreya')

hello sreya

In [15]:
def func(name):
    print('hello'+" "+name)
func()

TypeError: func() missing 1 required positional argument: 'name'

In [19]:
def func(name='default'):
    print('hello'+ " "+name)
func()

hello default

In [23]:
def add(num1,num2):
    return(num1+num2)
add(1,2)

3

In [24]:
def add(a,b):
    return(a+b)
add(1,2)

3

In [26]:
def add('a','b'):
    return(a+b)
add(1,2)

SyntaxError: invalid syntax (2854493524.py, line 1)

In [27]:
def add(a,b):
    return(a+b)
add('1','2')

'12'

In [29]:
def even_check(num):
    return num%2==0
even_check(10)

True

In [30]:
even_check(15)

False

In [31]:
def even_check(num):
    return num%2==0
even_check(1)

False

In [34]:
# checking the entire list and returning true if there is any even no return true if not do nothing

def even_check(listt):
    for num in listt:
        if num%2==0:
            return True
        else:
            pass
even_check([1,2,3])

True

In [36]:
even_check([1,3,5])

In [37]:
even_check([2,6,8])

True

In [38]:
def even_check(listt):
    for num in listt:
        if num%2==0:
            return True
        else:
            return False # it checks only first number and returns the result
even_check([1,2,3])

False

In [39]:
even_check([2,6,8])

True

In [40]:
even_check([1,2])

False

In [42]:
def even_check(listt):
    for num in listt:
        if num%2==0:
            return True
        else:
            pass
    return False
even_check([1,2,3])

True

In [43]:
even_check([1,3,5])

False

In [44]:
even_check([2,6,8])

True

In [45]:
even_check([2,3,4])

True

In [48]:
#checking through the entire list and returning the even numbers if there are any
def even(listt):
    even_numbers=[]
    for num in listt:
        if num%2==0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [49]:
even([1,2,3])

[2]

In [50]:
even([1,3,5])

[]

In [51]:
even([2,4,6])

[2, 4, 6]

In [77]:
#returning the employee of the month in a tuple
work_hours=[('sreya',100),('raga',200),('choppa',300)]

In [78]:
def employee(work_hours):
    current_max=0
    employee_of_the_month=''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_the_month=employee
        else:
            pass
    return (employee_of_the_month,current_max)

In [80]:
employee(employee_details)

('choppa', 300)

In [81]:
work_hours=[('sreya',300),('raga',500),('choppa',200)]

In [82]:
work_hours

[('sreya', 300), ('raga', 500), ('choppa', 200)]

In [86]:
def employee_check(work_hours):
    current_max=0
    employee_of_the_month=''
    for employee,hours in work_hours:
        if current_max>hours:
            current_max=hours
            employee_of_the_month=employee
        else:
            pass
    return(employee_of_the_month,current_max)

In [96]:
employee_check(work_hours)

('', 0)

In [107]:
l=[1,27,3,4,5]

In [108]:
l

[1, 27, 3, 4, 5]

In [109]:
from random import shuffle

In [110]:
shuffle(l)

In [113]:
l

[1, 3, 4, 5, 27]

In [114]:
shuffle(l)

In [115]:
l

[27, 1, 4, 3, 5]

In [118]:
from random import shuffle
shuffle(l)
l

[3, 4, 27, 5, 1]

In [122]:
def shuffle_list(l):
    shuffle(l)
    return l
shuffle_list([1,2,3])

[3, 2, 1]

In [123]:
#Define a function that accepts 2 values and return its sum, subtraction and multiplication.
def func(a,b):
    su=a+b
    sub=a-b
    mul=a*b
    return su,sub,mul
func(1,2)

(3, -1, 2)

In [129]:
#Define a function that accepts roll number and returns whether the student is present or absent.
def func(roll_no):
    x=[1,2,3]
    if roll_no in x:
        return present
    else:
        return absent
    
func(roll_no)

NameError: name 'roll_no' is not defined

In [131]:
def detail(roll):
    x = [23,43,22,56]
    if roll in x:
        print(f"Roll number {roll} is present")
    else:
        print(f"Roll number {roll} is absent")
roll = int(input("Enter roll no. ")) # 24
detail(roll)

Enter roll no. 43
Roll number 43 is present

In [133]:
def func(roll_no):
    x=[1,2,3]
    if roll_no in x:
        print("roll no is present")
    else:
        print("roll no is absent")
roll_no=int(input("enter roll no"))
func(roll_no)

enter roll no1
roll no is present

In [140]:
def func(roll_no):
    x=[1,2,3]
    if roll_no in x:
        return 'present'
    else:
        return 'absent'
roll_no=int(input('enter a number'))
func(roll_no)

enter a number8

'absent'

In [142]:
#Define a function that accepts roll number and returns whether the student is present or absent.
def func(roll_no):
    x=[3,4,5]
    if roll_no in x:
        return 'present'
    else:
        return 'absent'
roll_no=int(input())
func(roll_no)

8

'absent'

In [144]:
#Define a function in python that accepts 3 values and returns the maximum of three numbers
def func(a,b,c):
    m=max(a,b,c)
    return m
func(8,9,6)

9

In [151]:
def func(a,b,c):
    if a>b and a>c:
        print(f'{a} is maximum')
    elif b>a and b>c:
        print(f'{b} is maximum')
    else:
        print(f'{c} is maximum')
func(9,6,7)

9 is maximum

In [161]:
#Define a function that accepts a number and returns whether the number is even or odd
def func(a):
    if a%2==0:
        return 'even'
    else:
        return 'odd'
func(100)

'even'

In [164]:
def func(a):
    if a%2==0:
        return 'even'
    else:
        return 'odd'
func(1)

'odd'

In [168]:
#Define a function which counts vowels and consonant in a word
def count(word):
    vol=0
    con=0
    for i in word:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            vol=vol+1
        else:
            con=con+1
word=input("enter a word")
count(word)

enter a wordisis

In [169]:
def count(val):
    vov = 0
    con = 0
    for i in range(len(val)):
        if val[i] in ['a','e','i','o','u']:
            vov = vov+1
        else:
            con = con + 1

    print("Count of vowels is ",vov)
    print("Count of consonant is ",con)

x = input("Enter Value: ") # pythonlobby
count(x)

Enter Value: sreya
Count of vowels is  2
Count of consonant is  3

In [176]:
def count(val):
    vol=0
    con=0
    for i in range(len(val)):
        if val[i] in ['a','e','i','o','u']:
            vol=vol+1
        else:
            con=con+1
    print("count of vol is: ",vol)
    print("count of con is: ",con)
val=input("enter a value: ")
count(val)

enter a value: sreya
count of vol is:  2
count of con is:  3

In [180]:
def count(val):
    vol=0
    con=0
    for i in range(len(val)):
        if val[i] in ['a','e','i','o','u']:
            vol=vol+1
        else:
            con=con+1
    print("count of vol is: ",vol)
    print("count of con is: ",con)
val=input("enter a value: ")
count(val)

enter a value: sreya
count of vol is:  2
count of con is:  3

In [3]:
#Define a function that accepts lowercase words and returns uppercase words
def uppercase(value):
    lowercase=value.uppercase()
    return lowercase
print("enter a value: ")
uppercase(value)

enter a value:

NameError: name 'value' is not defined

In [1]:
def response(text):
    z = text.upper()
    print(z)

text = input("Enter String: ")  # pythonlobby
response(text)

Enter String: sreya
SREYA

In [3]:
def func(text):
    u=text.upper()
    print(u)
text=input("enter a string: ")
func(text)

enter a string: sreya
SREYA

In [4]:
def func(value):
    u=text.upper()
    return u
value=input("enter a value: ")
func(value)

enter a value: sreya

'SREYA'

In [5]:
#Define a function that accepts radius and returns the area of a circle
#area of circle=pie r square
def area(radius):
    a=3.14*radius*radius
    return a
radius=int(input("enter a radius"))
area(radius)

enter a radius4

50.24

In [8]:
def area(r):
    a=3.14*r*r
    return a
r=int(input("enter radius: "))
area(r)

enter radius: 5

78.5

In [16]:
#Write a Python function to sum all the numbers in a list
def sum(list):
    sum=0
    for i in  range(list):
        sum=sum+1
    return sum
list=[1,2,3]
sum(list)

TypeError: 'list' object cannot be interpreted as an integer

In [17]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

In [21]:
def sum(nums):
    total=0
    for i in (nums):
        total=total+i
    return total
nums=[1,2,3]
sum(nums)

6

In [22]:
def sum(nums):
    sum=0
    for i in nums:
        sum=sum+i
    return sum
nums=[1,2,3]
sum(nums)

6

In [27]:
#Write a Python function to multiply all the numbers in a list
def multiply(nums):
    for i in (nums):
        product=1
        product=product*i
    return product
nums=(1,2,3)
multiply(nums)

3

In [28]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336

In [31]:
def multiply(nums):
    product=1
    for i in (nums):
        product=product*i
    return product
nums=(1,2,3)
multiply(nums)

6

In [32]:
def multiply(nums):
    product=1
    for i in nums:
        product=product*i
    return product
nums=(1,2,3)
multiply(nums)

6

In [39]:
#Write a Python program to reverse a string
def reverse(string):
    string=string[::-1]
    return string
string=input("enter a string: ")
reverse(string)

enter a string: sreya

'ayers'

In [40]:
def reverse(string):
    s=string[::-1]
    return s
string=input("enter string: ")
reverse(string)

enter string: sreya

'ayers'

In [44]:
#. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters
def func(string):
    count=0
    summ=0
    for i in string:
        if string[i]==upper:
            count=count+1
        else:
            summ=sum+1
    return count,sum
string=input("enter a string: ")
func(string)

enter a string: SreyA

TypeError: string indices must be integers

In [46]:
def up_low(s):
  for a in s:
    u = u.count(a.isupper())
    l = l.count(a.islowwer())
  print(u, l)

In [47]:
def func(string):
    count=0
    for i in string:
        u=u.count(i.isupper())
        l=l.count(i.islower())
    return u,l
string=input("enter a string: ")
func(string)

enter a string: SreYA

UnboundLocalError: local variable 'u' referenced before assignment

In [50]:
#program to accept string and count the uppercase and lowercase letters
def count(string):
    total1=0
    total2=0
    for i in string:
        if i.isupper():
            total1=total1+1
        else:
            total2=total2+1
    return total1,total2
string=input("enter a string: ")
count(string)

enter a string: SReYA

(4, 1)

In [59]:
def count(string):
    t1=0
    t2=0
    for i in string:
        if i.isupper():
            t1=t1+1
        else:
            t2=t2+1
    print("no of uppercase letters is: ",t1)
    print("no of lowercase letters is: ",t2)
string=input("enter a string: ")
count(string)

enter a string: SREya
no of uppercase letters is:  3
no of lowercase letters is:  2

In [68]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list
def uniquelist(l):
    sl=[]
    for i in l:
        if i not in sl:
            sl.append(i)
    return sl
l=[1,2,2,3,3,3,3,3,7,7,8,8,9,9,8,8]
uniquelist(l)

[1, 2, 3, 7, 8, 9]

In [2]:
# *args and **kwargs
# *args is used to pass as many variables as we want . it prints tuple in result
def func(*args):
    for i in args:
        print(i)
func(1,2,3,4,5)

1
2
3
4
5

In [3]:
func(1,2)

1
2

In [21]:
# **kwargs prints dictionary in result
def func(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print("my choice is :", kwargs['fruit'])
    else:
        print("not fruit")
func(fruit='apple',veggie='carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
my choice is : apple

In [22]:
func(veggie='carrot',fruit='apple')

{'veggie': 'carrot', 'fruit': 'apple'}
my choice is : apple

In [23]:
func(veggie='carrot')

{'veggie': 'carrot'}
not fruit

In [24]:
func()

{}
not fruit

In [25]:
func('carrot','mango')

TypeError: func() takes 0 positional arguments but 2 were given

In [26]:
def func(*args,**kwargs):
    print(args)
    print(kwargs)
    print("i would like to",args[0],kwargs['animal'])
func(1,2,3,food='tea',animal='dog',veggie='carrot')

(1, 2, 3)
{'food': 'tea', 'animal': 'dog', 'veggie': 'carrot'}
i would like to 1 dog

In [27]:
func(food='tea',animal='dog',veggie='carrot',1,2,3)

SyntaxError: positional argument follows keyword argument (844145173.py, line 1)

In [43]:
#Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even
def myfunc(*args):
    for i in args:
        if i%2==0:
            print(i)
myfunc(1,2,3,4)

2
4

In [45]:
#Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase
def myfunc(mystring):

   output = ''

   mystring = mystring.lower()

   for x in range(0,(len(mystring))):

       if x % 2 == 0:

           output += mystring[x].upper()

       else:

           output += mystring[x]

   return output

In [47]:
myfunc('sreya')

'SrEyA'

In [55]:
l=(1,2,3)
for i in l:
    if i==l[::2]:
        print(i)
    else:
        print("nothing")

nothing
nothing
nothing

In [7]:
#Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def func(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            result=a
        else:
            result=b
    else:
        if a>b:
            result=a
        else:
            result=b
    return result

In [8]:
func(2,6)

2

In [9]:
func(7,3)

7

In [1]:
def func(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
func(2,6)

2

In [3]:
func(5,7)

7

In [4]:
#Write a function takes a two-word string and returns True if both words begin with same letter
def func(text):
    list=text.split()
    print(list)

In [5]:
func(raga sreya)

SyntaxError: invalid syntax (2430056906.py, line 1)

In [6]:
func('raga''sreya)

SyntaxError: EOL while scanning string literal (3166349171.py, line 1)

In [8]:
func('raga sreya')
func('choppa crs')

['raga', 'sreya']
['choppa', 'crs']

In [153]:
def func(text):
    wordlist=text.lower().split()
    print(wordlist)
    first=wordlist[0]
    second=wordlist[1]
    return first[0]==second[0]

In [154]:
func('raga sreya')

['raga', 'sreya']

False

In [157]:
func('choppa Crs')

['choppa', 'crs']

True

In [28]:
def func(text):
    wordlist=text.split()
    first=wordlist[0]
    second=wordlist[1]
    return first[0]==second[0]

In [29]:
func('raga sreya')

False

In [30]:
func('choppa Crs')

False

In [39]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def func(num1,num2):
    if num1+num2==20:
        return True
    elif num1 or num2==20:
        return True
    else:
        return False
num1=int(input("enter number1: "))
num2=int(input("enter number2: "))
func(10,20)

enter number1: 23,32

ValueError: invalid literal for int() with base 10: '23,32'

In [40]:
def func(n1,n2):
    if sum(n1,num2)==20:
        return True
    elif n1==20 or n2==20:
        return True
    else:
        return False

In [41]:
func(10,10)

TypeError: 'int' object is not iterable

In [42]:
def func(n1,n2):
    if n1+n2 ==20:
        return True
    elif n1==20 or n2==20:
        return True
    else:
        return False

In [43]:
func(10,10)

True

In [44]:
func(20,50)

True

In [45]:
func(10,30)

False

In [47]:
#Write a function that capitalizes the first and fourth letters of a name
def func(text):
    first_letter=text[0]
    in_between=text[1:3]
    fourth_letter=text[3]
    rest=text[3:]
    return first_letter+in_between+fourth_letter+rest

In [49]:
func('choppaRagasreya')

'chopppaRagasreya'

In [50]:
def func(text):
    first_letter=text[0]
    in_between=text[1:3]
    fourth_letter=text[3]
    rest=text[3:]
    return first_letter.upper()+in_between+fourth_letter.upper()+rest

In [52]:
func('chopparagasreya')

'ChoPpparagasreya'

In [61]:
def func(text):
    first_letter=text[0]
    in_between_letters=text[1:3]
    fourth_letter=text[3]
    rest_letters=text[3:]
    return first_letter.upper()+in_between_letters+ fourth_letter.upper()+rest_letters

In [62]:
func('chopparagasreya')

'ChoPpparagasreya'

In [71]:
#another method
def func(text):
    first_letter=text[0:3]
    second_letter=text[3:]
    return first_letter.capitalize() + second_letter.capitalize()

In [72]:
func('chopparagasreya')

'ChoPparagasreya'

In [75]:
#Given a sentence, return a sentence with the words reversed
def func(text):
    reversed_text=text[::-1]
    return reversed_text
func('sreya is a good girl')

'lrig doog a si ayers'

In [76]:
def func(text):
    word_list=text.split()
    reversed_list=word_list[::-1]
    return reversed_list

In [77]:
func('sreya is a good girl')

['girl', 'good', 'a', 'is', 'sreya']

In [82]:
def func(text):
    word_list=text.split()
    reversed_list=word_list[::-1]
    return " ".join(word_list)

In [83]:
func('sreya is a good girl')

'sreya is a good girl'

In [104]:
#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def func(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [105]:
func([1,2,3,3])

True

In [106]:
func([1,2,3,4])

False

In [117]:
def func(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [118]:
func([1,2,3])

False

In [119]:
func([1,2,3,3])

True

In [126]:
#Given a string, return a string where for every character in the original there are three characters
def func(text):
    result=''
    result=(text*3)
    return result
func('sreya')

'sreyasreyasreya'

In [127]:
func('hello this is sreya')

'hello this is sreyahello this is sreyahello this is sreya'

In [149]:
"""Given three integers between 1 and 11, if their sum is less than or equal to 21,
return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
Finally, if the sum (even after adjustment) exceeds 21, return BUST"""
def func(n1,n2,n3):
    if n1+n2+n3<=21:
        return n1+n2+n3
    elif n1+n2+n3>21 and n1==11 or n2==11 or n3==11:
        return (n1+n2+n3)-10
    elif n1+n2+n3>21:
        return 'BUST'

In [150]:
func(5,6,7)

18

In [151]:
func(9,9,11)

19

In [152]:
func(9,9,9)

'BUST'

In [ ]:
"""Return the sum of the numbers in the array, except ignore sections of numbers 
starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9).
Return 0 for no numbers."""

In [172]:
'''Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False'''

def func(nums):
    for i in range(len(nums)):
        if nums[i]==0 and nums[i]==0 and nums[i]==7:
            return True
        else:
            return False

In [173]:
func([1,2,4,0,0,7,5])

False

In [174]:
func([1,0,2,4,0,5,7])

False

In [176]:
func([1,7,2,0,4,5,0])

False

In [182]:
#map 
nums=[1,2,3]
map(square,nums)

NameError: name 'square' is not defined

In [184]:
map('square',nums)

In [189]:
for item in map('square',nums):
    print(item)

TypeError: 'str' object is not callable

In [190]:
nums=[1,2,3]

In [192]:
map('square',nums)

In [215]:
def func(nums):
    for i in nums:
        return nums**2

In [216]:
func([1,2,3])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [217]:
def square(nums):
    return nums**2

In [218]:
square([1,2,3])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [221]:
def square(num):
    result=num**2
    return result

In [222]:
square(2)

4

In [229]:
from math import sqrt
num=int(input())
print(sqrt(num))

9
3.0

In [3]:
num=25
power=0.5
s=num**power
print(s)

5.0

In [4]:
num=int(input())
power=0.5
square_root=num**power
print(square_root)

9
3.0

In [5]:
def func(num):
    for i in range(num):
        return num**0.5

In [6]:
func(25)

5.0

In [19]:
def func(nums):
    for i in nums:
        print(i**0.5)
nums=[25,9,81]
func(nums)

5.0
3.0
9.0

In [21]:
def func(nums):
    for i in nums:
        return i**0.5
func([25,81,9])

5.0

In [27]:
def square(num):
    return num**2
square(5)

25

In [26]:
nums=[1,2,3]
for i in (nums):       #we can use map function instead offf
    print(i**2)

1
4
9

In [28]:
#map function

In [29]:
nums=[1,2,3]

In [31]:
map(square,nums)

In [32]:
for i in map(square,nums):
    print(i)

1
4
9

In [40]:
nums=[1,2,3]
for i in map(square,nums):
        print(i)

1
4
9

In [47]:
def square(num):
    return num**2

In [48]:
my_nums=[1,2,3]

In [49]:
map(square,my_nums)

In [50]:
for i in map(square,my_nums):
    print(i)

1
4
9

In [51]:
def func(string):
    if len(string)%2==0:
        return 'even'
    else:
        return string[0]

In [52]:
my_string=['sreya','raga','choppa']

In [53]:
map(func,my_string)

In [54]:
for i in map(func,my_string):
    print(i)

s
even
even

In [60]:
#filter function     it prints only the condition given in that particular function

In [56]:
def func(num):
    return num%2==0

In [57]:
my_nums=[1,2,3,4,5,6]

In [58]:
filter(func,my_nums)

In [59]:
for i in filter(func,my_nums):
    print(i)

2
4
6

In [61]:
# lambda expressions    it doesn't have name    they are anonymous functions

In [62]:
def func(num):
    result=num**2
    return result

In [63]:
func(8)

64

In [64]:
def func(num):
    return num**2

In [65]:
func(8)

64

In [66]:
lambda num:num**2

In [70]:
s=lambda num:num**2

In [71]:
s(5)

25

In [72]:
s=lambda num:num**2

In [73]:
s(9)

81

In [74]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25, 36]

In [76]:
list(filter(lambda num:num%2==0,my_nums))

[2, 4, 6]

In [77]:
names=['raga','sreya','choppa']

In [78]:
list(map(lambda names:names[0],names))

['r', 's', 'c']

In [79]:
# LEGB RULE - PYTHON USES LEGB RULE FOR TO LOOK FOR A VARIABLE
# L STANDS FOR LOCAL NAMES
# E STANDS FOR ENCLOSING FUNCTION LOCALS NAMES
# G STANDS FOR GLOBAL(MODULE) NAMES
# B STANDS FOR BUILT-IN NAMES

In [80]:
#Write a function that computes the volume of a sphere given its radius.

def func(r):
    v=4/3*3.14*r*r*r
    return v
func(2)

33.49333333333333

In [82]:
#Write a function that checks whether a number is in a given range (inclusive of high and low)
def func(num,high,low):
    if num in range(high,low):
        return True
    else:
        return False

In [83]:
func(2,1,10)

True

In [84]:
func(5,1,3)

False

In [3]:
#Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.
def func(s):
    lowercase=0
    uppercase=0
    for char in s:
        if char.islower():
            lowercase=lowercase+1
        elif char.uppercase():
            uppercase=uppercase+1
        else:
            pass
    print("the string:", s)
    print("lowercase count:",lowercase)
    print("uppercase count:",uppercase)
s=input("enter a string: ")

enter a string: hisreYa

In [4]:
def func(s):
    lowercase=0
    uppercase=0
    for i in s:
        if i.islower():
            lowercase=lowercase+1
        elif i.isupper():
            uppercase=uppercase+1
        else:
            pass
s=input("enter a string:")
func(s)

enter a string:HiSeya

In [6]:
def func(l):
    return list(set(l))

In [7]:
func([1,1,2,2,3])

[1, 2, 3]

In [16]:
def multiply(nums):
    total=1
    for i in nums:
        total=total*i
    return total

In [17]:
multiply([1,2,3])

6

In [31]:
#check palindrome
def func(s):
    #remove spaces
    s=s.replace(" ","")
    #checking the palindrome
    if s==s[::-1]:
        return True
    else:
        return False

In [32]:
func('sreya')

False

In [33]:
func('level civic')

False

In [34]:
func("le vel")

True

In [36]:
func("nurses run")

True

In [38]:
def func(s):
    s=s.replace(" ","")
    return s==s[::-1]

In [40]:
func("nurse s run")

True

In [42]:
func('madam')

True

In [31]:
#tic tac toe